<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>jenkins admin</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>njM6ScxFFoR05g23mJ5el+xf2Dmn9WniJdVhnkLI8R+nzKlnLRjsZkQqLrT929gE</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$CfWvnCnXqgXs1HzSqleHl.paUhQXdZYWg7v3iIKU78mxH9bGLk24K</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>